{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/vendor/list.min.js') }}"></script>
    <script src="{{ asset('/js/components/wdiv-team.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/components/wdiv-radio-filter.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('/css/components/wdiv-team.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <main id="main">
        <div class="clearfix cp--h1 center-column wdiv-max-width-1190 wdiv-height-124">
            <h1 class="tl--gamma wdiv-margin-top-64">Präsidium</h1>
            <a class="wdiv-tm--epsilon" href="{{ path('people') }}">Zurück zu Menschen</a>
        </div>
 <div class="wdiv-team-wrapper wdiv-clearfix">
            <div class="wdiv-team-content clearfix cp--h1 center-column wdiv-max-width-1190">
                <div class="wdiv-group  clearfix" data-group-id="1">
            <h2 class="tm--alpha wdiv-group-title  wdiv-color-green"></h2>
            <div class="wdiv-group-items">
                                        <div class="wdiv-group-item">
                    <img class="wdiv-item-img wdiv-img-max-100" src="../../files/people/Lukas_Metzger.jpg">
                    <h3 class="wdiv-person-title tm--gamma">Lukas Mezger</h3>
                    <p class="wdiv-person-subtitle wdiv-tm--epsilon">Vorsitzender</p>
                    <p class="wdiv-person-email ts--alpha"><a class="link--black" href="mailto:lukas.mezger@wikimedia.de">E-Mail</a></p>
                </div>
                            <div class="wdiv-group-item">
                    <img class="wdiv-item-img wdiv-img-max-100" src="../../files/people/Sabria_David.jpg">
                    <h3 class="wdiv-person-title tm--gamma">Sabria David</h3>
                    <p class="wdiv-person-subtitle wdiv-tm--epsilon">1. Stellvertretende Vorsitzende</p>
                    <p class="wdiv-person-email ts--alpha"><a class="link--black" href="mailto:sabria.david@wikimedia.de">E-Mail</a></p>
                </div>
                            <div class="wdiv-group-item">
                    <img class="wdiv-item-img wdiv-img-max-100" src="../../files/people/Harald_Krichel.jpg">
                    <h3 class="wdiv-person-title tm--gamma">Harald Krichel</h3>
                    <p class="wdiv-person-subtitle wdiv-tm--epsilon">2. Stellvertretender Vorsitzender</p>
                    <p class="wdiv-person-email ts--alpha"><a class="link--black" href="mailto:harald.krichel@wikimedia.de">E-Mail</a></p>
                </div>
                            <div class="wdiv-group-item">
                    <img class="wdiv-item-img wdiv-img-max-100" src="../../files/people/Marcus_Cyron.jpg">
                    <h3 class="wdiv-person-title tm--gamma">Marcus Cyron</h3>
                    <p class="wdiv-person-subtitle wdiv-tm--epsilon">Beisitzer</p>
                    <p class="wdiv-person-email ts--alpha"><a class="link--black" href="mailto:marcus.cyron@wikimedia.de">E-Mail</a></p>
                </div>
                            <div class="wdiv-group-item">
                    <img class="wdiv-item-img wdiv-img-max-100" src="../../files/people/Daniel_Reisener.jpg">
                    <h3 class="wdiv-person-title tm--gamma">Daniel Reisener</h3>
                    <p class="wdiv-person-subtitle wdiv-tm--epsilon">Schatzmeister</p>
                    <p class="wdiv-person-email ts--alpha"><a class="link--black" href="mailto:daniel.reisener@wikimedia.de">E-Mail</a></p>
                </div>
                            <div class="wdiv-group-item">
                    <img class="wdiv-item-img wdiv-img-max-100" src="../../files/people/Kilian_Kluge.jpg">
                    <h3 class="wdiv-person-title tm--gamma">Kilian Kluge</h3>
                    <p class="wdiv-person-subtitle wdiv-tm--epsilon">Beisitzer</p>
                    <p class="wdiv-person-email ts--alpha"><a class="link--black" href="mailto:kilian.kluge@wikimedia.de">E-Mail</a></p>
                </div>
                            <div class="wdiv-group-item">
                    <img class="wdiv-item-img wdiv-img-max-100" src="../../files/people/Peter_Dewald.jpg">
                    <h3 class="wdiv-person-title tm--gamma">Peter Dewald</h3>
                    <p class="wdiv-person-subtitle wdiv-tm--epsilon">Beisitzer</p>
                    <p class="wdiv-person-email ts--alpha"><a class="link--black" href="mailto:peter.dewald@wikimedia.de">E-Mail</a></p>
                </div>
                                    </div>      
  </main>
{% endblock %}
